
    <!-- Masthead
      ================================================== -->
      <header class="jumbotron subhead" id="overview">
        <h1>pULLr</h1>
         <p class="lead">An autonomous entity powered by YouTube that feeds on video and comment fragments to construct improvised media 		   				  moments.</p>
</header> 
        <!-- <div class="subnav">
                  <ul class="nav nav-pills">
                    <li><a href="#grid-system">Grid system</a></li>
                    <li><a href="#layouts">Layouts</a></li>
                    <li><a href="#responsive">Responsive design</a></li>
                  </ul>
                </div>
              </header> -->






<%= render 'form' %>
