<h1>Listing metawords</h1>
<%= paginate @metawords %> 

<table>
  <tr>
    <th>Content</th>
    <th>Youtubeid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @metawords.each do |metaword| %>
  <tr>
    <td><%= metaword.content %></td>
    <td><%= metaword.youtubeid %></td>
  </tr>
<% end %>
</table>

